In [ ]:
# 2438

n = int(input())

for i in range(1, n+1):
    s = '*'
    s *= i
    print(s)

In [ ]:
# 2439

n = int(input())

for i in range(1, n+1):
    s = '*'
    s *= i
    print(' '*(n-i)+s)

In [ ]:
#10871

A, X = input().split()
n2 = input().split()

answer = []
for i in n2:
    if int(i) < int(X):
        answer.append(i)
        
print(" ".join(answer))

In [ ]:
# 10871

A, X = map(int, input().split())
n2 = list(map(int, input().split()))

for i in n2:
    if i < X:
        print(i, end=' ')

In [ ]:
# 10952

while True:
    a, b = map(int, input().split())
    if a == 0 and b == 0:
        break
        
    else:
        print(a + b)

In [34]:
# 10951

while True:
    try:
        a, b = map(int, input().split())
        print(a + b)
            
    except:
        break

In [51]:
# 1110

tmp = inp = int(input())
count = 0

while True:
    ten = tmp // 10
    one = tmp % 10
    res = ten + one
    count += 1
    tmp = int(str(tmp%10) + str(res%10))
 
    if (inp == tmp):
        break
        
print(count)

26
26

In [52]:
# 10818

n1 = int(input())
n2 = list(map(int, input().split()))

print(min(n2), max(n2))

5
20 10 35 30 7
7 35

In [ ]:
# 2562

n_list = []

for i in range(9):
    n_list.append(int(input()))
    
print(max(n_list))
print(n_list.index(max(n_list))+1)

In [ ]:
# 2577

A = int(input())
B = int(input())
C = int(input())

m_list = []

for i in str(A*B*C):
    m_list.append(int(i))
    
for j in range(10):
    print(m_list.count(j))

In [ ]:
# 2577

a = int(input())
b = int(input())
c = int(input())

x = str(a*b*c)

for i in range(10):
    print(x.count(str(i)))

In [63]:
# 3052

n_list = []

for i in range(10):
    n = int(input()) % 42
    n_list.append(n)
    
print(len(set(n_list)))

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
# 3052

s = set()

for _ in range(10):
    s.add(int(input())%42)
    
print(len(s))

In [67]:
# 1546

N = int(input())
subject = list(map(int, input().split()))
M = max(subject)

new = []
for i in subject:
    new.append(i / M * 100)
    
print(sum(new) / len(new))

3
10 20 30
66.66666666666667

In [ ]:
# 8958

n = int(input())

for i in range(n):
    a = input()
    score = 0
    sumScore = 0
    
    for j in a:
        if j == 'O':
            score += 1
        else:
            score = 0
            
        sumScore += score
        
    print(sumScore)

In [69]:
# 4344

n = int(input())

for i in range(n):
    student = list(map(int, input().split()))
    avg = sum(student[1:]) / student[0]
    cnt = 0
    
    for score in student[1:]:
        if score > avg:
            cnt += 1
            
    rate = cnt / student[0] * 100
    print(f'{rate:.3f}%')

1
5 50 50 70 80 100
40.000%

In [ ]:
# 15596

def solve(a):
    ans = 0
    for i in a:
        ans += i
        
    return ans

In [26]:
# 11654

a = input()
print(ord(a))

a
97

In [77]:
# 11720

N = int(input())
a = input()
sum = 0

for i in a:
    sum += int(i)
    
print(sum)

5
54321
15

In [28]:
# 10809

alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
S = input()

for i in range(len(alphabet)):
    for j in range(len(S)):
        if alphabet[i] == S[j]:
            alphabet[i] = str(j)
            break
            
    if ord(alphabet[i]) >= 97 :
        alphabet[i] = str(-1)
        
print(' '.join(alphabet))

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [31]:
# 10809

S = input()
alphabet = list(range(97, 123))

for x in alphabet :
    print(S.find(chr(x)), end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [33]:
# 2675

n = int(input())

for i in range(n):
    R, S = input().split()
    for j in S:
        print(j*int(R), end='')
    print()

5 /HTP
/////HHHHHTTTTTPPPPP

In [37]:
# 1152

S = input().split()
print(len(S))

Teullinika Teullyeotzi

2

In [40]:
# 2908

n1, n2 = input().split()
n1 = int(n1[::-1])
n2 = int(n2[::-1])
print(max([n1, n2]))

734 893
437

In [44]:
# 5622

S = input()
cnt = 0

for i in S:
    if ord(i) in range(65, 68):
        cnt += 3
    
    if ord(i) in range(68, 71):
        cnt += 4
        
    if ord(i) in range(71, 74):
        cnt += 5
        
    if ord(i) in range(74, 77):
        cnt += 6
        
    if ord(i) in range(77, 80):
        cnt += 7
        
    if ord(i) in range(80, 84):
        cnt += 8
        
    if ord(i) in range(84, 87):
        cnt += 9
        
    if ord(i) in range(87, 91):
        cnt += 10
        
print(cnt)

UNUCIC
36